<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8">
    <title>JWT Example</title>
  </head>
  <body ng-controller="MainCtrl as vm">
    <h1>Get Random User</h1>
    <form ng-submit="vm.login(vm.username, vm.password)">
      <label>Username: </label><input type='text' ng-model='vm.username'/></label><br>
      <label>Password: </label><input type='password' ng-model='vm.password'/></label>
      <button type="submit">Login</button>
    </form>
    <div>
      <h2>Welcome {{vm.user.username}}</h2>
      <button ng-click="vm.logout()">Logout</button><br/>
      <button ng-click="vm.getRandomUser()">Get User</button>
      <pre ng-bind='vm.randomUser | json'></pre>
    </div>
    <script src='bower_components/angular/angular.js'></script>
    <script src='app.js'></script>
  </body>
</html>
