<div>
    <h1>Get Random User</h1>
    <h2>Login</h2>
    <form ng-submit="vm.login(vm.login_username, vm.login_password)">
      <label>Username: </label><input type='text' ng-model='vm.login_username'/></label><br>
      <label>Password: </label><input type='password' ng-model='vm.login_password'/></label>
      <button type="submit">Login</button>
    </form>
    <h2>Register</h2>
    <form ng-submit="vm.register(vm.reg_username, vm.reg_password)">
      <label>Username: </label><input type='text' ng-model='vm.reg_username'/></label><br>
      <label>Password: </label><input type='password' ng-model='vm.reg_password'/></label>
      <button type="submit">Register</button>
    </form>
    <div>
</div>
